.content    {width:970px;min-height:500px;margin-left: 136px;}
      .content-left {float:left;width:235px;min-height: 500px;padding-bottom: 5px;}
      .content-right  {float:right;width:730px;min-height: 500px;background: #b200ff;}
      .regi {text-align: center;}